
.recipe-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;

    @media only screen and (max-width: 500px){
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 500px){
        grid-template-columns: repeat(1, 1fr);
    }

    @media only screen and (max-width: 500px){
        margin: 12px;
        gap: 15px;
    }
}